/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

@font-face {
  font-family: 'HelveticaNeue_bold';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Bold/HelveticaNeue-Bold.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Bold/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeue-Bold/HelveticaNeue-Bold.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeue-Bold/HelveticaNeue-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeue-Bold/HelveticaNeue-Bold.svg#HelveticaNeue_bold") format("svg"); }

@font-face {
  font-family: 'HelveticaNeue';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/HelveticaNeue/HelveticaNeue/HelveticaNeue.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeue/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeue/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeue/HelveticaNeue.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeue/HelveticaNeue.svg#HelveticaNeue") format("svg"); }

html, body {
  height: 100%; }

body {
  line-height: 1.57;
  position: relative;
  overflow: hidden;
  font-family: "HelveticaNeue", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000000; }

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: transform 0.4s ease-in-out;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out; }
  .slide.slide-open {
    -webkit-transform: none;
    transform: none; }
  .slide-container {
    width: 100%;
    max-width: 1024px;
    padding: 60px 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .slide-heading {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: "HelveticaNeue_bold", sans-serif;
    font-size: 36px;
    font-weight: normal;
    color: #ffffff; }
    .slide-heading span {
      display: block; }
  .slide-one {
    position: relative;
    z-index: 100;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background: #000000; }
    .slide-one.slide-fade:after {
      opacity: 1; }
    .slide-one:before {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      opacity: .5;
      background: url("../img/section1-bg.gif") no-repeat fixed top center;
      background-size: auto 100%; }
    .slide-one:after {
      opacity: 0;
      top: 0;
      left: 0;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      -webkit-transition-duration: .6s;
      transition-duration: .6s;
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 200;
      background: #ffc100; }
    .slide-one .list-of-headings {
      margin: 0;
      padding: 0;
      list-style: none; }
      .slide-one .list-of-headings li {
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
        .slide-one .list-of-headings li.active {
          visibility: visible;
          opacity: 1;
          -webkit-transition-delay: .2s;
          transition-delay: .2s; }
          .slide-one .list-of-headings li.active .slide-heading {
            display: block; }
        .slide-one .list-of-headings li .slide-heading {
          display: none; }
  .slide-two {
    z-index: 300;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition-delay: .6s;
    transition-delay: .6s;
    background: url("../img/section2-bg.jpg") no-repeat fixed center center;
    background-size: cover; }
    .slide-two.slide-open .slide-heading span {
      -webkit-transform: none;
      transform: none;
      opacity: 1; }
      .slide-two.slide-open .slide-heading span:nth-child(1) {
        -webkit-transition-delay: .6s;
        transition-delay: .6s; }
      .slide-two.slide-open .slide-heading span:nth-child(2) {
        -webkit-transition-delay: 1s;
        transition-delay: 1s; }
      .slide-two.slide-open .slide-heading span:nth-child(3) {
        -webkit-transition-delay: 1.4s;
        transition-delay: 1.4s; }
    .slide-two .slide-container {
      padding-left: 120px; }
    .slide-two .slide-heading {
      font-size: 140px;
      line-height: .86;
      text-align: left; }
      .slide-two .slide-heading span {
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        opacity: 0; }
  .slide-three {
    z-index: 400;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    background-color: #ffffff; }
    .slide-three.slide-open .slide-content .text-md {
      opacity: 1; }
    .slide-three.slide-open + .scroller {
      display: none; }
    .slide-three .slide-container {
      position: relative;
      padding-left: 120px;
      padding-right: 98px; }
      .slide-three .slide-container:before {
        position: absolute;
        top: 132px;
        right: -49px;
        display: inline-block;
        content: attr(data-text);
        word-spacing: 24px; }
    .slide-three .slide-heading {
      font-size: 24px;
      letter-spacing: .4px;
      line-height: 1.35;
      margin-bottom: 40px;
      text-align: left;
      color: #000000; }
    .slide-three .slide-content {
      max-width: 540px;
      margin-left: 160px;
      text-align: left; }
      .slide-three .slide-content .text-md {
        letter-spacing: .2px;
        margin: 0;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        -webkit-transition-delay: .4s;
        transition-delay: .4s;
        opacity: 0; }
        .slide-three .slide-content .text-md + .text-md {
          margin-top: 1.7em;
          -webkit-transition-delay: .8s;
          transition-delay: .8s; }
      .slide-three .slide-content .btn {
        margin-top: 40px; }

.modal {
  position: fixed;
  z-index: 500;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: rgba(255, 193, 0, 0.9);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .modal-show {
    visibility: visible;
    opacity: 1; }
    .modal-show .modal-content-wrapper {
      opacity: 1;
      top: 0; }
  .modal-flipped {
    background: rgba(0, 0, 0, 0.8); }
    .modal-flipped .modal-content-inner {
      -webkit-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
    .modal-flipped .modal-content-back {
      display: block; }
  .modal [class^='text'] {
    font-family: "HelveticaNeue_bold", sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #000000;
    letter-spacing: .3px;
    text-transform: uppercase;
    text-align: center;
    display: block; }
  .modal .text-lg {
    font-size: 64px;
    line-height: 1.25; }
  .modal .text-sm {
    font-size: 10px;
    letter-spacing: 1.9px; }
  .modal .btn {
    width: 200px;
    z-index: 400;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .modal-content-wrapper {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    position: relative;
    opacity: 0;
    top: -100%;
    width: 340px;
    height: 450px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .modal-content-inner {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  .modal-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px 20px;
    text-align: center;
    -webkit-box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 500; }
    .modal-content-front {
      color: #000000;
      background: #ffffff; }
      .modal-content-front .text-sm {
        margin: 0 0 35px; }
    .modal-content-back {
      display: none;
      color: #ffffff;
      background: #000000;
      -webkit-transform: rotateY(-180deg);
      transform: rotateY(-180deg); }
      .modal-content-back .modal-close-btn {
        color: #ffffff; }
      .modal-content-back [class^='text'] {
        color: #ffffff; }
      .modal-content-back .text-lg {
        margin: 96px 0 13px; }
      .modal-content-back .text-md {
        width: 200px;
        margin: 0 auto 20px;
        line-height: 1.7; }
  .modal-close-btn {
    position: absolute;
    top: 36px;
    right: 4px;
    cursor: pointer; }
  .modal-heading {
    margin: 0 0 73px;
    text-align: left;
    text-transform: uppercase;
    font-family: "HelveticaNeue_bold", sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #000000; }
  .modal .form-input {
    margin-bottom: 37px; }
    .modal .form-input:valid + p .changing-value:after {
      display: inline;
      content: attr(data-text); }
    .modal .form-input:valid + p .changing-value .initial-value {
      display: none; }

.btn {
  line-height: 50px;
  position: relative;
  display: inline-block;
  width: 160px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  outline: none;
  background: #000000;
  font-family: "HelveticaNeue_bold", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff; }
  .btn:after {
    position: absolute;
    z-index: -1;
    top: 10px;
    right: 10px;
    left: 10px;
    display: block;
    height: 100%;
    content: '';
    pointer-events: none;
    opacity: .3;
    background: #000000;
    -webkit-filter: blur(10px);
    filter: blur(10px); }
  .btn:hover:after {
    top: 15px; }
  .btn:active:after, .btn:focus:after {
    top: 5px; }
  .btn.btn-light {
    color: #000000;
    background: #ffce0d; }
    .btn.btn-light:after {
      background: #ffce0d; }
    .btn.btn-light:hover {
      background: #ffda45; }
    .btn.btn-light:active, .btn.btn-light:focus {
      background: #ffbc0e; }

.form-input {
  line-height: 42px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  padding: 0 15px;
  text-align: center;
  border: solid 1px #eaeaea;
  outline: none;
  font-family: "HelveticaNeue_bold", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000000; }
  .form-input::-webkit-input-placeholder {
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
    font-family: "HelveticaNeue", sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5); }
  .form-input:-moz-placeholder {
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
    font-family: "HelveticaNeue", sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5); }
  .form-input::-moz-placeholder {
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
    font-family: "HelveticaNeue", sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5); }
  .form-input:-ms-input-placeholder {
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
    font-family: "HelveticaNeue", sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5); }
  .form-input:focus {
    -webkit-transition: border-color .3s ease;
    transition: border-color .3s ease;
    border-color: #ffc619; }
    .form-input:focus::-webkit-input-placeholder {
      opacity: 0; }
    .form-input:focus:-moz-placeholder {
      opacity: 0; }
    .form-input:focus::-moz-placeholder {
      opacity: 0; }
    .form-input:focus:-ms-input-placeholder {
      opacity: 0; }
  .form-input:valid {
    border-color: #ffc619; }

.vertical-text, .slide-three .slide-container:before, .modal-close-btn {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "HelveticaNeue_bold", sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #000000; }

.scroller {
  position: absolute;
  z-index: 400;
  bottom: 30px;
  left: 50%;
  margin-left: -7px; }
  .scroller svg {
    fill: #ffffff; }
  .scroller .arrow1 {
    -webkit-animation: arrow-movement 1.2s ease-in-out infinite;
    animation: arrow-movement 1.2s ease-in-out infinite; }

@-webkit-keyframes arrow-movement {
  0% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    opacity: 0; }
  70% {
    opacity: 1; }
  100% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 0; } }

@keyframes arrow-movement {
  0% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    opacity: 0; }
  70% {
    opacity: 1; }
  100% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 0; } }

@media (max-width: 768px) {
  html, body {
    height: auto; }
  body {
    overflow: auto; }
  .slide {
    min-height: 100vh; }
    .slide-one:before {
      background-attachment: inherit; }
    .slide-one:after {
      display: none; }
    .slide-two {
      background-position: 80% center;
      background-attachment: inherit;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
      .slide-two .slide-container {
        padding-left: 30px; }
      .slide-two .slide-heading {
        font-size: 72px;
        line-height: .83; }
        .slide-two .slide-heading span {
          opacity: 1;
          -webkit-transform: none;
          transform: none; }
    .slide-three .slide-container {
      padding: 40px 30px; }
      .slide-three .slide-container:before {
        display: none; }
    .slide-three .slide-content {
      margin-left: 0;
      max-width: 100%;
      text-align: center; }
      .slide-three .slide-content .text-md {
        opacity: 1;
        text-align: left; }
    .slide-three, .slide-two {
      position: static;
      -webkit-transform: none;
      transform: none; }
  .scroller {
    display: none; }
  .modal-content-wrapper {
    width: calc(100% - 20px);
    max-width: 340px;
    height: calc(100% - 20px);
    max-height: 375px; }
  .modal-content-back .text-lg {
    margin-top: 60px; }
  .modal-heading {
    margin-bottom: 28px; }
  .modal .form-input {
    margin-bottom: 20px; } }
