@font-face {
	font-family: 'HelveticaNeue_bold';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/HelveticaNeue/HelveticaNeue-Bold/HelveticaNeue-Bold.eot');
	src: url('../fonts/HelveticaNeue/HelveticaNeue-Bold/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Bold/HelveticaNeue-Bold.woff') format('woff'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Bold/HelveticaNeue-Bold.ttf') format('truetype'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Bold/HelveticaNeue-Bold.svg#HelveticaNeue_bold') format('svg');
}

@font-face {
	font-family: 'HelveticaNeue';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/HelveticaNeue/HelveticaNeue/HelveticaNeue.eot');
	src: url('../fonts/HelveticaNeue/HelveticaNeue/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeue/HelveticaNeue/HelveticaNeue.woff') format('woff'),
	url('../fonts/HelveticaNeue/HelveticaNeue/HelveticaNeue.ttf') format('truetype'),
	url('../fonts/HelveticaNeue/HelveticaNeue/HelveticaNeue.svg#HelveticaNeue') format('svg');
}
