// Global styling
html, body {
	height: 100%;
}

body {
	line-height: 1.57;
	position: relative;
	overflow: hidden;

	@include fontRegular(14px, $black);
}

.slide {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	@include transition(transform);

	&.slide-open {
		transform: none;
	}

	&-container {
		width: 100%;
		max-width: $screen-lg;
		padding: 60px 30px;
		box-sizing: border-box;
	}

	&-heading {
		margin: 0;
		text-align: center;
		text-transform: uppercase;

		@include fontBold(36px, $white);

		span {
			display: block;
		}
	}

	&-one {
		position: relative;
		z-index: 100;
		@include transition(all);
		background: $black;
		&.slide-fade {
			&:after {
				opacity: 1;
			}
		}
		&:before {
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			content: '';
			opacity: .5;
			background: url('../img/section1-bg.gif') no-repeat fixed top center;
			background-size: auto 100%;
		}

		&:after {
			opacity: 0;
			top: 0;
			left: 0;
			@include transition(all);
			transition-duration: .6s;
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 200;
			background: $yellow;
		}

		.list-of-headings {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				visibility: hidden;
				opacity: 0;
				@include transition(all);

				&.active {
					visibility: visible;
					opacity: 1;
					transition-delay: .2s;
					.slide-heading {
						display: block;
					}
				}
				.slide-heading {
					display: none;
				}
			}
		}
	}

	&-two {
		z-index: 300;
		transform: translate3d(-100%, 0, 0);
		transition-delay: .6s;
		background: url('../img/section2-bg.jpg') no-repeat fixed center center;
		@include background-cover;

		&.slide-open {
			.slide-heading {
				span {
					transform: none;
					opacity: 1;

					&:nth-child(1) {
						transition-delay: .6s;
					}

					&:nth-child(2) {
						transition-delay: 1s;
					}

					&:nth-child(3) {
						transition-delay: 1.4s;
					}
				}
			}
		}

		.slide-container {
			padding-left: 120px;
		}

		.slide-heading {
			font-size: 140px;
			line-height: .86;
			text-align: left;

			span {
				@include transition(all);
				transform: translate3d(-100%, 0, 0);
				opacity: 0;
			}
		}
	}

	&-three {
		z-index: 400;
		transform: translate3d(0, 100%, 0);
		background-color: $white;

		&.slide-open {
			.slide-content {
				.text-md {
					opacity: 1;
				}
			}
			& + .scroller {
				display: none;
			}
		}

		.slide-container {
			position: relative;
			padding-left: 120px;
			padding-right: 98px;
			&:before {
				position: absolute;
				top: 132px;
				right: -49px;
				display: inline-block;
				content: attr(data-text);
				word-spacing: 24px;

				@extend .vertical-text;
			}
		}

		.slide-heading {
			font-size: 24px;
			letter-spacing: .4px;
			line-height: 1.35;
			margin-bottom: 40px;
			text-align: left;
			color: $black;
		}

		.slide-content {
			max-width: 540px;
			margin-left: 160px;
			text-align: left;

			.text-md {
				letter-spacing: .2px;
				margin: 0;
				@include transition(all);
				transition-delay: .4s;
				opacity: 0;

				& + .text-md {
					margin-top: 1.7em;
					transition-delay: .8s;
				}
			}

			.btn {
				margin-top: 40px;
			}
		}
	}
}

.modal {
	position: fixed;
	z-index: 500;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	visibility: hidden;
	opacity: 0;
	@include transition(all);
	background: rgba($yellow, .9);
	justify-content: center;
	align-items: center;

	&-show {
		visibility: visible;
		opacity: 1;

		.modal-content-wrapper {
			opacity: 1;
			top: 0;
		}
	}

	&-flipped {
		background: rgba($black, .8);

		.modal-content-inner {
			transform: rotateY(-180deg);
			@include transition(all);
		}

		.modal-content-back {
			display: block;
		}
	}

	[class^='text'] {
		@include fontBold(18px, $black);
		letter-spacing: .3px;
		text-transform: uppercase;
		text-align: center;
		display: block;
	}

	.text-lg {
		font-size: 64px;
		line-height: 1.25;
	}

	.text-sm {
		font-size: 10px;
		letter-spacing: 1.9px;
	}

	.btn {
		width: 200px;
		z-index: 400;
		backface-visibility: hidden;
	}

	&-content-wrapper {
		perspective: 1000px;
		position: relative;
		opacity: 0;
		top: -100%;
		width: 340px;
		height: 450px;
		@include transition(all);
	}
	&-content-inner {
		width: 100%;
		height: 100%;
		transform-style: preserve-3d;
	}

	&-content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		padding: 30px 20px;
		text-align: center;
		box-shadow: 0 16px 32px 0 rgba($black, .2);
		backface-visibility: hidden;
		z-index: 500;

		&-front {
			color: $black;
			background: $white;

			.text-sm {
				margin: 0 0 35px;
			}
		}

		&-back {
			display: none;
			color: $white;
			background: $black;
			transform: rotateY(-180deg);

			.modal-close-btn {
				color: $white;
			}

			[class^='text'] {
				color: $white;
			}

			.text-lg {
				margin: 96px 0 13px;
			}

			.text-md {
				width: 200px;
				margin: 0 auto 20px;
				line-height: 1.7;
			}
		}
	}

	&-close-btn {
		position: absolute;
		top: 36px;
		right: 4px;
		cursor: pointer;

		@extend .vertical-text;
	}

	&-heading {
		margin: 0 0 73px;
		text-align: left;
		text-transform: uppercase;

		@include fontBold(18px, $black);
	}

	.form-input {
		margin-bottom: 37px;

		&:valid {
			& + p .changing-value {
				&:after {
					display: inline;
					content: attr(data-text);
				}

				.initial-value {
					display: none;
				}
			}
		}
	}
}

.btn {
	line-height: 50px;
	position: relative;
	display: inline-block;
	width: 160px;
	height: 50px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	outline: none;
	background: $black;

	@include fontBold(18px, $white);

	&:after {
		position: absolute;
		z-index: -1;
		top: 10px;
		right: 10px;
		left: 10px;
		display: block;
		height: 100%;
		content: '';
		pointer-events: none;
		opacity: .3;
		background: $black;
		filter: blur(10px);
	}

	&:hover {
		&:after {
			top: 15px;
		}
	}

	&:active, &:focus {
		&:after {
			top: 5px;
		}
	}

	&.btn-light {
		color: $black;
		background: #ffce0d;

		&:after {
			background: #ffce0d;;
		}

		&:hover {
			background: #ffda45;
		}

		&:active, &:focus {
			background: #ffbc0e;
		}
	}
}

.form-input {
	line-height: 42px;
	box-sizing: border-box;
	width: 100%;
	height: 44px;
	padding: 0 15px;
	text-align: center;
	border: solid 1px #eaeaea;
	outline: none;

	@include fontBold(14px, $black);
	@include inputPlaceholder {
		@include transition(opacity);
		opacity: 1;

		@include fontRegular(14px, rgba($black, .5));
	}

	&:focus {
		transition: border-color .3s ease;
		border-color: #ffc619;

		@include inputPlaceholder {
			opacity: 0;
		}
	}

	&:valid {
		border-color: #ffc619;
	}
}

.vertical-text {
	transform: rotate(-90deg);
	text-transform: uppercase;
	letter-spacing: 2px;

	@include fontBold(10px, $black);
}


.scroller {
	position: absolute;
	z-index: 400;
	bottom: 30px;
	left: 50%;
	margin-left: -7px;

	svg {
		fill: $white;
	}

	.arrow1 {
		animation: arrow-movement 1.2s ease-in-out infinite;
	}
}

@keyframes arrow-movement {
	0% {
		transform: translateY(-3px);
		opacity: 0;
	}

	70% {
		opacity: 1;
	}

	100% {
		transform: translateY(3px);
		opacity: 0;
	}
}
