@media (max-width: $screen-sm) {
	html, body {
		height: auto;
	}
	body {
		overflow: auto;
	}
	.slide {
		min-height: 100vh;
		&-one {
			&:before {
				background-attachment: inherit;
			}
			&:after {
				display: none;
			}
		}
		&-two {
			background-position: 80% center;
			background-attachment: inherit;
			align-items: flex-end;
			.slide-container {
				padding-left: 30px;
			}
			.slide-heading {
				font-size: 72px;
				line-height: .83;
				span {
					opacity: 1;
					transform: none;
				}
			}
		}
		&-three {
			.slide-container {
				padding: 40px 30px;
				&:before {
					display: none;
				}
			}
			.slide-content {
				margin-left: 0;
				max-width: 100%;
				text-align: center;
				.text-md {
					opacity: 1;
					text-align: left;
				}
			}
		}
		&-three, &-two {
			position: static;
			transform: none;
		}
	}
	.scroller {
		display: none;
	}
	.modal {
		&-content-wrapper {
			width: calc(100% - 20px);
			max-width: 340px;
			height: calc(100% - 20px);
			max-height: 375px;
		}
		&-content {
			&-back {
				.text-lg {
					margin-top: 60px;
				}
			}
		}
		&-heading {
			margin-bottom: 28px;
		}
		.form-input {
			margin-bottom: 20px;
		}
	}
}
