@mixin fontRegular($font-size: inherit, $color: $color-font-default) {
	font-family: $font-regular, sans-serif;
	font-size: $font-size;
	font-weight: normal;
	color: $color;
}

@mixin fontBold($font-size: inherit, $color: $color-font-default) {
	font-family: $font-bold, sans-serif;
	font-size: $font-size;
	font-weight: normal;
	color: $color;
}

@mixin background-cover() {
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

@mixin inputPlaceholder {
	&::-webkit-input-placeholder {
		@content
	}
	&:-moz-placeholder {
		@content
	}
	&::-moz-placeholder {
		@content
	}
	&:-ms-input-placeholder {
		@content
	}
}

@mixin transition($what: all, $time: .4s, $how: ease-in-out) {
	-webkit-transition: $what $time $how;
	   -moz-transition: $what $time $how;
	    -ms-transition: $what $time $how;
	     -o-transition: $what $time $how;
	        transition: $what $time $how;
}
